
@{
    ViewBag.Title = "Thông Báo";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<body>
    <center>
        <marquee style="font-size:40px; background: red; color: yellow; border: 1px solid #000" class="thongbao" direction="right">Bạn đã thực hiện thành công</marquee>
    </center>
    <a style="font-size: 15px; float: left;" href="~/Home/PhanLoai">
        Về Trang Chủ
    </a>
</body>


