<style type="text/css">
    .danhsach {
        color: white;
        font-size: large
    }
</style>

<a href="@Url.Action("DanhSachDC","TraTTB")" class="danhsach">
    Danh sách<i class="fa fa-heart">
    </i> (@ViewBag.TongSoLuongDC)
</a>
